@model List<Order>
@{
}

<h2 class="text-center mb-5">
	Order History
</h2>

<table class="table">
<thead>
	<tr>

		<td>OrderID</td>
		<td>Name</td>
		<td>Surname</td>
		<td>Total</td>
		<td>Contact</td>
	</tr>

</thead>
<tbody>
	@foreach (var order in Model)
	{

		<tr>

			<td>@order.OrderId</td>
			<td>@order.Name</td>
			<td>@order.Surname</td>
			<td>R@(order.Total)</td>
				<td>@order.Contact</td>

		</tr>
	}
</tbody>

</table>